<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ReviewGenerator by NST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="en" content="Review generator and item description">
    <meta name="author" content="yz">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{% static 'reviewgenerator/css/styles.css' %}">
</head>
<body>

<!--page header-->
<div id="header">
<div class="shell">
<h1><span>Review Generator</span></h1>
    <span class="right">An auto review generator powered by chatgpt</span>
    <span class="right"><a href="{% url 'reviewgenerator:login'%}">LOGIN</a></span>
</div>
</div>

<!--menu bar-->
<div id="menu">
<nav>
  <!--start responsive -->
  <input type="checkbox" id="show-menu" role="button">
  <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
  <label for="show-menu" class="close"><span class="fa fa-times"></span></label>
  <!--end responsive -->
<ul id="topnav">
    <li><a href="#">For items</a></li>
    <li><a href="#">For restaurant</a></li>
</ul>
</nav>
</div>

<!--contents-->
<div id="all_content">
<!-- block 1 for text input and some checkbox -->
<div class="pageitem">
    {% csrf_token %}
    <script src="{% static 'reviewgenerator/js/js_request.js' %}"></script>

{#    文字输入部分#}
    <h3>Please input your review or some keywords:</h3>
    <label for="reviewInput">
        <textarea id="reviewInput" style="height: 200px;width: 800px"></textarea>
    </label>

{#    单选按钮#}
    <h4>Please select language: </h4>
    <label>
        <input type="radio" name="selectLanguage" value="english">
        English
    </label>
    <label>
        <input type="radio" name="selectLanguage" value="chinese">
        Chinese
    </label>

    <h4>Please select function: </h4>
    <label>
        <input type="radio" name="application" value="restaurantReview">
        Restaurant Review
    </label>
    <label>
        <input type="radio" name="application" value="itemReview">
        Item Review
    </label>
    <label>
        <input type="radio" name="application" value="itemDescription">
        Item Description
    </label>

{#   给定一些可选词 #}
    <h4>Please select keywords: </h4>
    <label>
        <input type="checkbox" name="keyWords" value="keyWord1">keyWord1
        <input type="checkbox" name="keyWords" value="keyWord2">keyWord2
        <input type="checkbox" name="keyWords" value="keyWord3">keyWord3
    </label>


    <br><br>


{# star rating #}
    <h4>Rating: </h4>
    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>


    <br><br><br><br>

{#  submit button  #}
    <button onclick="updateContent()">submit</button>

</div>
<!-- block 2 for output -->
<div class="pageitem">
    <div>
        <p id="content">Excellent review will be here...</p>
    </div>
    <button onclick="copyContent()">Copy</button>
</div>

<!--page footer-->
<div id="footer">
<div class="shell">
<span class="left">2023 &copy; Copyright <a href="#">NST</a>. All rights reserved.</span>
	<!--credits-->
	<!--//Under CC-NC 3.0 license, this portion must be left intact and must not be hidden.//-->
	<span class="right"><a href="http://www.mlpdesign.net" title="CSS &amp; HTML by MLP Design.net">CSS &amp; HTML</a> by MLP Design<br />Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0</a>.</span>
</div>
</div>

</div>
</body>
</html>